// --------- suggest ---------
.Keywords-header {
    h1 {
        margin: 5px 0 10px 10px;
        font-weight: 600;
        color: var(--text-primary);
    }
}

.Keywords-body {
    max-height: 200px;
    overflow: hidden;
    .item {
        border-radius: 4px;
        padding: 8px 10px;
        list-style: none;
        &:hover {
            background-color: var(--alpha-bg);
        }
        span {
            color: var(--text-primary);
            padding: 0 5px;
            text-transform: capitalize;
            cursor: pointer;
            i {
                font-size: 1.2rem;
                color: var(--alpha-bg);
                cursor: pointer;
            }
        }
    }
}
