.load {
    position: relative;
    display: block;
    border-radius: 4px;
    padding-bottom: 100%;
    background-color: var(--loading-bg);
    overflow: hidden;
    & span {
        height: 100%;
        position: absolute;
        background-image: linear-gradient(90deg, transparent, var(--loading-bg-animation), transparent);
        animation: 2s ease-in-out 0s infinite normal none running animation;
        width: 100%;
    }
}
.radius {
    border-radius: 50%;
}
@keyframes animation {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
