.item {
    padding: 0 15px;
    .include {
        display: flex;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        align-items: center;
        justify-content: space-between;
        .left {
            display: flex;
            align-items: center;
            .wrapper-img {
                flex-shrink: 0;
                position: relative;
                .image {
                    width: 60px;
                    height: 60px;
                    border-radius: 4px;
                    display: block;
                }
                .icon-play {
                    position: absolute;
                    right: 0;
                    left: 0;
                    top: 0;
                    height: 100%;
                    text-align: center;
                    color: white;
                    font-size: 2rem;
                    background-color: var(--dark-alpha-50);
                    display: none;
                    & ion-icon {
                        height: 100%;
                    }
                }
                .play {
                    display: block;
                }
                .play-song {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-color: var(--dark-alpha-50);
                    text-align: center;
                    line-height: 6rem;
                    font-size: 2rem;
                    & img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .info {
                padding: 0 10px;
                .name {
                    display: flex;

                    .song {
                        position: relative;
                        font-size: 1.4rem;
                        color: var(--text-primary);
                        font-weight: 400;
                        margin-right: 8px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        cursor: pointer;
                        overflow: hidden;
                    }
                }
                .singer {
                    font-size: 1.2rem;
                    display: block;
                    color: var(--text-secondary);
                    margin-top: 1px;
                    line-height: 1.3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    cursor: pointer;
                    overflow: hidden;
                    & a {
                        font-size: 1.2rem;
                        align-items: center;
                        color: var(--text-secondary);
                        &:hover {
                            color: var(--link-text-hover);
                            text-decoration: underline;
                        }
                    }
                }
                .time {
                    line-height: 1.3;
                    font-size: 1.2rem;
                    color: var(--text-secondary);
                }
            }
        }
        &:hover {
            background-color: var(--alpha-bg);
        }
        &:hover .more {
            display: flex;
        }
        &:hover .left .wrapper-img .icon-play {
            display: block;
        }
    }
    .active {
        background-color: var(--alpha-bg);
    }
    .more {
        background-color: transparent;
        flex-shrink: 0;
        display: none;
        &:hover {
            background-color: var(--alpha-bg);
        }
    }
}
.vip {
    opacity: 0.7;
}
