.Wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.active {
    height: calc(100vh - 9rem);
}
.main {
    position: relative;
    width: calc(100% - var(--Width-sidebar));
    margin-left: var(--Width-sidebar);
    -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none; /* sử dụng Firefox */
    overflow-y: overlay;
    &::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--alpha-bg);
    }
    .container {
        padding: 0 var(--padding-section);
        padding-bottom: 9rem;
    }
}
@media (min-width: 740px) and (max-width: 1024px) {
    .main {
        width: calc(100% - 70px);
        margin-left: 70px;
        .container {
            padding: 0 30px;
            padding-bottom: 9rem;
        }
    }
}
@media (max-width: 740px) {
    .main {
        width: 100%;
        margin: 0;
        .container {
            padding: 0 30px;
            padding-bottom: 9rem;
        }
    }
}
@media (min-width: 2130px) {
    .container {
        width: 1442px;
        margin: auto;
    }
}
