.Wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.main {
    position: relative;
    width: calc(100% - var(--Width-sidebar));
    -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none; /* sử dụng Firefox */
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    .container {
        padding: 0 var(--padding-section);
        padding-bottom: 9rem;
    }
}
