.wrapper {
    width: 100%;
    height: 100%;
    .header {
        display: flex;
        text-align: center;
        align-items: center;
        border-bottom: 1px solid var(--border-primary);
        margin-bottom: 28px !important;
        .title {
            font-size: 2.4rem;
            padding-right: 20px;
            border-right: 1px solid var(--border-primary);
            text-transform: none;
            line-height: normal;
            color: var(--text-primary);
        }
        .menu {
            display: flex;
            list-style: none;
            .item {
                margin: 0 20px;
                a {
                    color: var(--navigation-text);
                    display: block;
                    padding: 15px 0px;
                    border-bottom: 2px solid transparent;
                }
                .active {
                    border-bottom: 2px solid var(--purple-primary);
                }
            }
        }
    }
}
.spotlight {
    margin-top: 30px;
}
