.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    overflow: hidden;
    ion-icon,
    i {
        color: var(--setting-icon-text);
        display: flex;
        line-height: 40px;
        font-size: 1.9rem;
    }
    + .wrapper {
        margin-left: 12px;
    }
}
.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    &:hover {
        opacity: 0.9;
    }
}
.outline {
    background-color: transparent;
}

.image {
    width: 3.8rem;
    height: 3.8rem;
    object-fit: cover;
}
