.right {
    .list {
        display: flex;
        flex-wrap: wrap;
    }
}
.header {
    position: relative;
    height: 410px;
    margin: 0 -59px;
    margin-top: -70px;
    .background {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 20%;
        -webkit-mask-image: linear-gradient(var(--purple-primary), transparent);
        width: 100%;
        z-index: 1;
        height: 100%;
    }
    .content {
        position: absolute;
        bottom: 20px;
        left: 50px;
        z-index: 2;
        .title {
            display: flex;
            align-items: center;
            & h1 {
                font-size: 6rem;
                color: var(--text-primary);
                font-weight: 700;
                text-shadow: 1px 1px 2px var(--purple-primary);
            }
            .btn {
                background-color: var(--purple-primary);
                margin-left: 10px;
                width: 5rem;
                height: 5rem;
                & i {
                    font-size: 4rem;
                    color: #fff;
                }
            }
        }

        .action {
            display: flex;
            align-items: center;
            .follow {
                text-shadow: var(--purple-primary) 1px 0 10px;
                font-size: 1.4rem;
                color: rgba(254, 255, 255, 0.8);
                margin-right: 20px;
            }
            .btn {
                font-size: 1.2rem;
                padding: 5px 15px;
                background: rgba(254, 255, 255, 0.1);
                border: 1px solid rgba(254, 255, 255, 0.2);
                & i {
                    margin-right: 5px;
                }
            }
        }
    }
}
@media (max-width: 740px) {
    .content {
        .title {
            margin-bottom: 5px;
            & h1 {
                font-size: 2.5rem !important;
            }
            .btn {
                background-color: var(--purple-primary);
                margin-left: 10px;
                width: 3.5rem !important;
                height: 3.5rem !important;
                & i {
                    font-size: 2.5rem !important;
                    color: #fff;
                }
            }
        }
    }
}
