.recently {
    margin-top: 10px;
    border-top: 1px solid var(--alpha-bg);
    .header {
        margin: 10px;
        & h1 {
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--text-primary);
        }
    }
}
