.top {
    display: flex;
    padding-top: 50px;
    align-items: center;
    & h1 {
        font-size: 4rem;
    }
    .btn {
        background-color: var(--purple-primary);
        margin-left: 10px;
    }
}

.select-menu {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 48px;
    border-bottom: 1px solid var(--border-primary);
    & .btn {
        font-size: 1.6rem;
        margin-right: 4rem;
        color: var(--navigation-text);
        margin: 0;
        margin-right: 40px;
        padding: 10px 0;
        border: none;
        border-radius: 0;
        & p {
            margin: 0;
        }
    }
    & .active {
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
        border-bottom: 2px solid var(--purple-primary);
    }
}

// --------------------
.empty {
    text-align: center;
    .image {
        background-image: var(--empty-song-icon);
        background-repeat: no-repeat;
        background-position: center;
        height: 120px;
    }
    & h3 {
        font-size: 16px;
        margin-top: 16px;
        color: var(--text-secondary);
        font-weight: 500;
    }
    .discover {
        margin: auto;
        margin-top: 16px;
        padding: 10px 20px;
        background-color: var(--purple-primary);
        border-color: var(--purple-primary);
        color: #fff;
    }
}
.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-secondary);
    justify-content: space-between;
    padding: 20px 10px 20px 35px;
    .song {
        position: relative;
        display: flex;
        align-items: center;
        color: var(--text-secondary);
        font-size: 1.2rem;
    }
    span {
        color: var(--text-secondary);
        font-size: 1.2rem;
    }
}

.bottom {
    .body {
        margin-top: 0;
    }
}
