.countdown {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    width: 218px;
    color: var(--text-primary);
    background-color: var(--purple-primary);
    bottom: 100%;
    right: 50%;
    transform: translateX(calc(-50% + 218px));
    border-radius: 8px 8px 0 0;
    padding: 8px 10px;
    justify-content: space-between;
    & p {
        font-size: 1.2rem;
        color: #fff;
        & span {
            padding: 0 10px;
            font-weight: 700;
        }
    }
}
