.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  overflow: hidden;
}
.wrapper .content {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.wrapper .content .header {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  height: 15%;
}
.wrapper .content .header .title {
  margin-right: 30%;
  font-size: 3rem;
  color: var(--text-primary);
  font-weight: 700px;
  text-shadow: var(--link-text-hover) 1px 0 10px;
}
.wrapper .content .header .action {
  display: flex;
}
.wrapper .content .header .action .setting {
  position: relative;
  margin: 0 10px;
  z-index: 130;
}
.wrapper .content .header .action .setting .menu {
  position: absolute;
  width: 270px;
  right: 0;
  top: calc(100% + 10px);
  background-color: #292929;
  border-radius: 10px;
  overflow: hidden;
}
.wrapper .content .header .action .setting .menu .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  padding: 10px 15px;
}
.wrapper .content .header .action .setting .menu .option .left {
  pointer-events: none;
}
.wrapper .content .header .action .setting .menu .option .left h3 {
  line-height: 1.8;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-primary);
}
.wrapper .content .header .action .setting .menu .option .left span {
  font-size: 1.2rem;
  color: var(--text-secondary);
}
.wrapper .content .header .action .setting .menu .option .right .button {
  position: relative;
  width: 24px;
  height: 14px;
  border-radius: 999px;
  background-color: #a0a0a0;
  overflow: hidden;
}
.wrapper .content .header .action .setting .menu .option .right .button::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  left: 1px;
  height: 13px;
  background-color: #fff;
  border-radius: 999px;
}
.wrapper .content .header .action .setting .menu .option .right .action {
  background-color: var(--purple-primary);
}
.wrapper .content .header .action .setting .menu .option .right .action::after {
  left: 10px;
}
.wrapper .content .header .action .setting .menu .option .right .btn-size {
  outline: none;
  margin: 0 5px;
  width: 25px;
  height: 25px;
  background-color: var(--alpha-bg);
  color: #fff;
  border-radius: 999px;
}
.wrapper .content .header .action .setting .menu .option .right .s {
  font-size: 1rem;
}
.wrapper .content .header .action .setting .menu .option .right .m {
  font-size: 1.2rem;
}
.wrapper .content .header .action .setting .menu .option .right .l {
  font-size: 1.4rem;
}
.wrapper .content .header .action .setting .menu .option .right .active {
  background-color: var(--purple-primary);
}
.wrapper .content .body {
  display: flex;
}
.wrapper .content .body .left {
  padding-left: 40px;
}
.wrapper .content .body .left .image {
  position: relative;
}
.wrapper .content .body .left .image > img {
  width: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 8px;
}
.wrapper .content .body .left .image .play-music {
  position: absolute;
  bottom: 10px;
  left: 15px;
}
.wrapper .content .body .left .image .play-music > img {
  width: 25px;
  height: 25px;
}
.wrapper .content .body .right {
  max-height: 67vh;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(180deg, hsla(0deg, 0%, 100%, 0), hsla(0deg, 0%, 100%, 0.8) 10%, #fff 25%, #fff 75%, hsla(0deg, 0%, 100%, 0.8) 90%, hsla(0deg, 0%, 100%, 0));
}
.wrapper .content .body .right::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.wrapper .content .body .right::-webkit-scrollbar-thumb {
  background-color: var(--alpha-bg);
}
.wrapper .content .body .right .lyric {
  width: 100%;
  height: 100%;
}
.wrapper .content .body .right .lyric .item {
  font-size: 3rem;
  padding: 10px;
  color: var(--text-primary);
}
.wrapper .content .body .right .lyric .active {
  color: var(--link-text-hover) !important;
  transition: 0.3s linear;
}
.wrapper .content .body .right .lyric .is-over {
  color: var(--text-secondary);
  transition: 0.3s linear;
}
.wrapper .content .body .right .s .item {
  font-size: 3rem;
}
.wrapper .content .body .right .m .item {
  font-size: 3.5rem;
}
.wrapper .content .body .right .l .item {
  font-size: 4rem;
}
.wrapper .background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--queue-player-popup-bg);
}
.wrapper .background .blur-image {
  position: absolute;
  width: 100%;
  background-size: cover;
  filter: blur(30px);
  height: 100%;
  background-repeat: no-repeat;
}
.wrapper .background .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--queue-player-popup-bg);
  opacity: 0.8;
}

.close {
  transform: translateY(calc(100% + 90px));
  transition: 0.5s linear;
}

.open {
  transform: translateY(0);
  -webkit-animation: open 0.5s linear;
          animation: open 0.5s linear;
  z-index: 110;
}

@-webkit-keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.list-img .item img {
  -webkit-animation: image 20s linear infinite;
          animation: image 20s linear infinite;
}

@-webkit-keyframes image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes image {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 740px) {
  .lyric .item {
    color: #fff !important;
  }
  .lyric .is-over {
    color: hsla(0deg, 0%, 100%, 0.5) !important;
  }
  .body .right {
    padding: 20px;
  }
  .header {
    padding: 0 20px !important;
    justify-content: space-between !important;
  }
  .header .info-song-mb {
    display: flex;
  }
  .header .info-song-mb .image-mb {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .header .info-song-mb .image-mb img {
    width: 100%;
    height: 100%;
    border-radius: 99px;
  }
  .header .info-song-mb .action-mb {
    -webkit-animation: action 10s linear infinite;
            animation: action 10s linear infinite;
  }
  .header .info-song-mb .content-mb .title-mb {
    font-size: 1.4rem;
    color: #fff;
  }
  .header .info-song-mb .content-mb .singer {
    color: hsla(0deg, 0%, 100%, 0.5);
  }
  .header .info-song-mb .content-mb .singer span a {
    font-size: 1.2rem;
    align-items: center;
    color: hsla(0deg, 0%, 100%, 0.5);
  }
  .header .info-song-mb .content-mb .singer span:hover a {
    color: var(--link-text-hover);
    text-decoration: underline;
  }
  .header .info-song-mb .content-mb .title-mb,
.header .info-song-mb .content-mb .singer {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .header .action {
    display: flex;
  }
  .header .action .setting {
    position: relative;
    margin: 0 10px;
    z-index: 130;
  }
  .header .action .setting .menu {
    position: absolute;
    width: 270px;
    right: 0;
    top: calc(100% + 10px);
    background-color: #292929;
    border-radius: 10px;
    overflow: hidden;
  }
  .header .action .setting .menu .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 10px 15px;
  }
  .header .action .setting .menu .option .left {
    pointer-events: none;
  }
  .header .action .setting .menu .option .left h3 {
    line-height: 1.8;
    font-size: 1.4rem;
    font-weight: 600;
    color: hsla(0deg, 0%, 100%, 0.5) !important;
  }
  .header .action .setting .menu .option .left span {
    font-size: 1.2rem;
    color: #fff !important;
  }
  .header .action .btn i {
    color: hsla(0deg, 0%, 100%, 0.5) !important;
  }
}
@-webkit-keyframes action {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes action {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=Lyric.module.css.map */