@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nuosu+SIL&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
@font-face {
    font-family: ZingMp3;
    src: url('/assets/font/mp3-zing.2a3edced.woff');
}

i {
    font-family: ZingMp3;
    font-style: normal !important;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.4rem;

    //kích thước ban đầu của trình duyệt
    //tối ưu tốc độ hiển thi font
    text-rendering: optimizeSpeed;

    height: 100vh;
    & {
        -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
        scrollbar-width: none; /* sử dụng Firefox */
        overflow-y: scroll;
    }
    &::-webkit-scrollbar {
        display: none; /* cho Chrome, Safari, and Opera */
    }
}

:root {
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --primary-bg: #4b1178;
    --color-pink: #f12d94;
    --purple-primary: #ed2b91;
    --main-text-stroke: #fff;
    --box-item-bg: hsla(0, 0%, 100%, 0.1);
    --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --tab-active-bg: hsla(0, 0%, 100%, 0.3);
    --primary-bg: #432275;
    --loading-bg: hsla(0, 0%, 100%, 0.1);
    --loading-bg-animation: hsla(0, 0%, 100%, 0.1);
    --box-hot-item-bg-hover: rgba(254, 255, 255, 0.2);
    --border-secondary: hsla(0, 0%, 100%, 0.05);
    --border-box: hsla(0, 0%, 100%, 0.2);
    --dark-alpha-10: rgba(0, 0, 0, 0.1);
    --dark-alpha-30: rgba(0, 0, 0, 0.3);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --dark-alpha-70: rgba(0, 0, 0, 0.7);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);
    --chart-box-bg-alpha: hsla(0, 0%, 100%, 0.05);
    // -------- text ------------------
    --navigation-text: #dadada;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --text-primary: #fff;
    --search-text: #eee;
    --text-placeholder: #dadada;
    // đổi màu bgr khi click
    --setting-icon-text: #d8d8d8;
    // -webkit-text-stroke: 1px
    --color-top-1: #4a90e2;
    --color-top-2: #50e3c2;
    --color-top-3: #e35050;
    // -------------------
    --height-footer: 60px;
    --height-header: 70px;
    --Width-sidebar: 240px;
    --padding-section: 59px;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}

h1 {
    color: var(--text-primary);
}
li {
    list-style: none;
}
body a {
    text-decoration: none;
    cursor: pointer;
}
