@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    //kích thước ban đầu của trình duyệt
    font-size: 1.6rem;
    //tối ưu tốc độ hiển thi font
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    -ms-overflow-style: none; /* khai báo sử dụng Internet Explorer, Edge */
    scrollbar-width: none; /* sử dụng Firefox */
    overflow-y: scroll;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
:root {
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --primary-bg: #4b1178;
    --color-pink: #f12d94;
    --purple-primary: #ed2b91;
    // -------- text ------------------
    --navigation-text: #a0a0a0;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --text-primary: #fff;
    --link-text-hover: #fe63da;
    --search-text: #eee;
    --text-placeholder: #dadada;
    // đổi màu bgr khi click
    --setting-icon-text: #d8d8d8;
    // -webkit-text-stroke: 1px
    --color-top-1: #4a90e2;
    --color-top-2: #50e3c2;
    --color-top-3: #e35050;
    // -------------------
    --height-footer: 60px;
    --height-header: 70px;
    --Width-sidebar: 240px;
    --padding-section: 59px;
}

button {
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
a {
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}
