.btn-right {
    position: absolute;
    right: 0;
    bottom: 50%;
    background-color: var(--alpha-bg);
    z-index: 10;
}
.btn-left {
    position: absolute;
    bottom: 50%;
    background-color: var(--alpha-bg);
    z-index: 10;
}
.btn-right + .btn-left {
    left: 0;
    margin-left: 0;
}
// --------------------------------
.episode-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    & img {
        width: 100%;
        display: block;
        transition: 0.3s linear;
    }
    &:hover img {
        transform: scale(1.05);
    }
    .padding-img {
        padding-bottom: 30%;
    }
}
// -------------------------
.box-left,
.box-right {
    background-color: var(--alpha-bg);
    border-radius: 12px;
    padding: 10px 0;
    width: 100%;
}

.btn-left-banner,
.btn-right-banner {
    position: absolute;
    right: -2px;
    top: 10px;
    z-index: 10;
}
.btn-left-banner {
    right: 40px;
}
.btn-right-center,
.btn-left-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: var(--alpha-bg);
}
.btn-right-center {
    right: 0px;
}
.btn-left-center {
    left: -10px;
}
body .topPodcast {
    padding: 0;
}
// ------------------------
