.body {
    display: flex;
    max-width: 70vw;
    min-width: 600px;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
    .left {
        display: flex;
        height: 100%;
        width: 610px;
        justify-content: center;
        background-color: #000;
        & img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: contain;
        }
        & video {
            width: 100%;
            height: 100%;
        }
    }
    .right {
        position: relative;
        padding: 15px;
        background-color: var(--primary-bg);
        .top {
            display: flex;
            align-items: center;
            .image {
                width: 13%;
                height: 100%;
                border-radius: 999px;
                margin-right: 10px;
                overflow: hidden;
                & img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    object-fit: cover;
                }
            }
            .info {
                cursor: pointer;
                display: block;
                & div {
                    line-height: 1.1;
                    & a {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: var(--text-primary);
                        transition: 0.1s linear;
                        &:hover {
                            color: var(--link-text-hover);
                        }
                    }
                    & span {
                        font-size: 1.8rem;
                        padding: 0 5px;
                        color: var(--text-primary);
                    }
                    & .btn {
                        font-size: 1.4rem;
                        font-weight: 500;
                        padding: 0;
                        color: var(--text-placeholder);
                    }
                    .active {
                        color: var(--link-text-hover);
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
                .subtitle {
                    font-size: 1.2rem;
                    color: var(--text-secondary);
                    transition: 0.1s linear;
                    &:hover {
                        color: var(--link-text-hover);
                    }
                }
            }
        }
        .content {
            margin-top: 10px;
            padding: 10px 0;
            border-top: 1px solid var(--border-secondary);
            .title {
                font-size: 1.4rem;
                color: var(--text-primary);
            }
            .actions {
                margin-top: 10px;
                border-bottom: 1px solid var(--border-secondary);
                border-top: 1px solid var(--border-secondary);
                .footer-btn {
                    color: var(--text-primary);
                    width: auto;
                    margin-right: 20px;
                }
            }
            .like {
                display: flex;
                align-items: center;
                margin-top: 10px;
                & span {
                    font-size: 1.2rem;
                    color: var(--text-primary);
                    padding: 0 5px;
                    font-weight: 600;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            margin: 15px;
            right: 0;
            left: 0;
            text-align: center;
            background-color: #000;
            background-color: var(--alpha-bg);
            color: var(--text-secondary);
            font-weight: 500;
            padding: 10px 0;
            border-radius: 4px;
        }
    }
}
.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 3rem;
    background-color: hsla(0, 0%, 100%, 0.3);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    margin: 0;
}

@media (max-width: 740px) {
    .body {
        min-width: auto !important;
    }
}
