.item {
    line-height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    list-style: none;
    &:hover {
        background-color: rgba(225, 225, 225, 0.1);
    }
    span {
        font-size: 14px;
        padding: 0 5px;
        text-transform: capitalize;
        cursor: pointer;
        i {
            font-size: 12px;
            cursor: pointer;
            color: var(--alpha-bg);
        }
    }
}
