.right {
  margin-left: 300px;
  padding-left: 20px;
}
.right .description {
  padding: 0 10px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  white-space: normal;
}
.right .description > span:first-child {
  color: var(--text-secondary);
  margin-right: 5px;
}
.right .list {
  padding-left: 10px;
}
.right .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.right .header span {
  color: var(--text-secondary);
}
.right .header .song {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-secondary);
  font-size: 1.2rem;
}
.right .header .song .sort .icon-sort > i {
  font-size: 1.6rem;
  margin-right: 10px;
}
.right .header .song .sort .icon-sort > i:hover {
  opacity: 0.9;
}
.right .header .song .sort .menu {
  position: absolute;
  top: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--primary-bg);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  cursor: pointer;
}
.right .header .song .sort .menu::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--primary-bg);
}
.right .header .song .sort .menu div {
  padding: 9px 10px;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 4px;
  color: var(--text-primary);
}
.right .header .song .sort .menu div:hover {
  color: var(--text-item-hover);
  background-color: var(--alpha-bg);
}
.right .header .right-time,
.right .header .main {
  color: var(--text-secondary);
  font-size: 1.2rem;
}
.right .header .main {
  flex: 1;
}
.right .header .left {
  width: 50%;
  z-index: 2;
}
.right .header .left .add-playlist {
  display: flex;
}
.right .header .left .add-playlist .action-checkbox {
  display: flex;
  align-items: center;
}
.right .header .left .add-playlist .action-checkbox > i {
  color: var(--text-secondary);
}
.right .header .left .add-playlist .action-checkbox .checkbox {
  display: none;
}
.right .header .left .add-playlist .action-checkbox .checkbox input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--border-box);
  padding: 6px;
  border-radius: 4px;
}
.right .header .left .add-playlist .action-checkbox .checkbox input:checked::after {
  content: " ";
  border-left-color: #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top-color: #fff;
  height: 47%;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%) rotate(45deg);
}
.right .header .left .add-playlist .action-checkbox .checkbox input:checked {
  border: 1px solid #fff;
}
.right .header .left .add-playlist .active-checkbox {
  background-color: transparent;
}
.right .header .left .add-playlist .active-checkbox i {
  display: none;
}
.right .header .left .add-playlist .active-checkbox .checkbox {
  display: block;
}
.right .header .left .add-playlist .add.item:hover .action-checkbox .checkbox {
  display: block;
}
.right .header .left .add-playlist .add.item:hover .action-checkbox > i {
  display: none;
}
.right .header .left .add-playlist .btn-add {
  color: var(--text-secondary);
  border: 1px solid var(--border-box);
  background-color: hsla(0deg, 0%, 100%, 0.05);
}
.right::after {
  display: block;
  clear: both;
  content: "";
}

@media (max-width: 740px) {
  .right {
    margin: 0;
    padding: 0;
  }
}/*# sourceMappingURL=RightAlbum.module.css.map */