.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    .background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #1e272e;
        & .blur-image {
            position: absolute;
            width: 100%;
            background-size: cover;
            filter: blur(30px);
            height: 100%;
            background-repeat: no-repeat;
        }
        & .overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 20px 0;
        animation: open 0.3s linear;
        padding: 2vh 5vh;
        overflow-y: overlay;
        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--alpha-bg);
        }
        .top {
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .left {
                    display: flex;
                    align-items: center;
                    .image {
                        width: 40px;
                        height: 40px;
                        border-radius: 999px;
                        overflow: hidden;
                        & img {
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                    .info {
                        margin: 0 10px;
                        & h3 {
                            font-size: 1.8rem;
                            color: var(--text-primary);
                            line-height: 1.1;
                        }
                        & span {
                            & a {
                                font-size: 1.4rem;
                                color: var(--text-secondary);
                            }
                        }
                    }
                }
            }
            .play-video {
                display: flex;
                padding: 10px;
                .video {
                    width: 73%;
                    height: 79vh;
                    padding-right: 5vh;
                    & video {
                        border-radius: 4px;
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-color: black;
                    }
                }
                .list {
                    width: 27%;
                    height: 79vh;
                    border-radius: 4px;
                    background-color: hsla(0, 0%, 100%, 0.10196078431372549);
                    overflow: hidden;
                    & h3 {
                        padding: 20px;
                        font-size: 18px;
                        color: var(--text-primary);
                    }
                    .list-wrapper {
                        height: 100%;
                        overflow-y: scroll;
                        &::-webkit-scrollbar {
                            width: 4px;
                            background-color: transparent;
                        }
                        &::-webkit-scrollbar-thumb {
                            background-color: var(--alpha-bg);
                        }
                    }
                }
            }
        }
        .body {
            padding: 0 10px;
        }
    }
}

.close {
    transform: translateY(calc(100% + 90px));
    transition: 0.5s linear;
}
.open {
    transform: translateY(0);
    animation: open 0.5s linear;
}

@keyframes open {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

.item {
    width: 100%;
    cursor: pointer;
    .include {
        padding: 5px 20px;
        display: flex;
        align-items: center;

        .image {
            position: relative;
            width: 45%;
            border-radius: 4px;
            overflow: hidden;
            & img {
                display: block;
                width: 100%;
                height: auto;
            }
            .play {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;
                text-align: center;
                align-items: center;
                color: white;
                font-size: 20px;
                line-height: 100%;
                background-color: var(--dark-alpha-50);
                justify-content: center;
            }
            .play {
                display: none;
            }
            .active {
                display: flex;
            }
        }
        .info {
            width: 55%;
            padding-left: 10px;
            & p {
                font-size: 1.4rem;
                color: var(--text-primary);
                font-weight: 600;
                &:hover {
                    color: var(--link-text-hover);
                }
            }
            & span {
                color: var(--text-secondary);
                display: flex;
                & a {
                    font-size: 1.2rem;
                    color: var(--text-secondary);
                    &:hover {
                        color: var(--link-text-hover);
                        text-decoration: underline;
                    }
                }
            }
            & span,
            & p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
        }
    }
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
    &:hover .image .play {
        display: flex;
    }
}
.active {
    background-color: hsla(0, 0%, 100%, 0.1);
    .include {
        .image {
            .play {
                display: flex;
            }
        }
        .info {
            & p {
                &:hover {
                    color: var(--text-primary);
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .content {
        padding: 10px !important;
        .info {
            & h3 {
                font-size: 1.4rem !important;
            }
            & p {
                font-size: 1.2rem !important;
            }
        }

        .play-video {
            display: block !important;
            padding: 5px !important;
            .video {
                width: 100% !important;
                height: auto !important;
                padding-right: 0 !important;
                & video {
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-color: black;
                }
            }
            .list {
                width: 100% !important;
                height: 50vh !important;
                border-radius: 4px;
                background-color: hsla(0, 0%, 100%, 0.10196078431372549);
                overflow: hidden;
                & h3 {
                    padding: 20px;
                    font-size: 18px;
                    color: var(--text-primary);
                }
                .list-wrapper {
                    height: 100%;
                    overflow-y: scroll;
                    &::-webkit-scrollbar {
                        width: 4px;
                        background-color: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: var(--alpha-bg);
                    }
                }
            }
        }
    }
}
