.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.wrapper .background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1e272e;
}
.wrapper .background .blur-image {
  position: absolute;
  width: 100%;
  background-size: cover;
  filter: blur(30px);
  height: 100%;
  background-repeat: no-repeat;
}
.wrapper .background .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper .content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  -webkit-animation: open 0.3s linear;
          animation: open 0.3s linear;
  padding: 2vh 5vh;
  overflow-y: overlay;
}
.wrapper .content::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.wrapper .content::-webkit-scrollbar-thumb {
  background-color: var(--alpha-bg);
}
.wrapper .content .top .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .content .top .header .left {
  display: flex;
  align-items: center;
}
.wrapper .content .top .header .left .image {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  overflow: hidden;
}
.wrapper .content .top .header .left .image img {
  width: 100%;
  height: 100%;
  display: block;
}
.wrapper .content .top .header .left .info {
  margin: 0 10px;
}
.wrapper .content .top .header .left .info h3 {
  font-size: 1.8rem;
  color: var(--text-primary);
  line-height: 1.1;
}
.wrapper .content .top .header .left .info span a {
  font-size: 1.4rem;
  color: var(--text-secondary);
}
.wrapper .content .top .play-video {
  display: flex;
  padding: 10px;
}
.wrapper .content .top .play-video .video {
  width: 73%;
  height: 79vh;
  padding-right: 5vh;
}
.wrapper .content .top .play-video .video video {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
}
.wrapper .content .top .play-video .list {
  width: 27%;
  height: 79vh;
  border-radius: 4px;
  background-color: hsla(0deg, 0%, 100%, 0.1019607843);
  overflow: hidden;
}
.wrapper .content .top .play-video .list h3 {
  padding: 20px;
  font-size: 18px;
  color: var(--text-primary);
}
.wrapper .content .top .play-video .list .list-wrapper {
  height: 100%;
  overflow-y: scroll;
}
.wrapper .content .top .play-video .list .list-wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}
.wrapper .content .top .play-video .list .list-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--alpha-bg);
}
.wrapper .content .body {
  padding: 0 10px;
}

.close {
  transform: translateY(calc(100% + 90px));
  transition: 0.5s linear;
}

.open {
  transform: translateY(0);
  -webkit-animation: open 0.5s linear;
          animation: open 0.5s linear;
}

@-webkit-keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes open {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.item {
  width: 100%;
  cursor: pointer;
}
.item .include {
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
.item .include .image {
  position: relative;
  width: 45%;
  border-radius: 4px;
  overflow: hidden;
}
.item .include .image img {
  display: block;
  width: 100%;
  height: auto;
}
.item .include .image .play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 20px;
  line-height: 100%;
  background-color: var(--dark-alpha-50);
  justify-content: center;
}
.item .include .image .play {
  display: none;
}
.item .include .image .active {
  display: flex;
}
.item .include .info {
  width: 55%;
  padding-left: 10px;
}
.item .include .info p {
  font-size: 1.4rem;
  color: var(--text-primary);
  font-weight: 600;
}
.item .include .info p:hover {
  color: var(--link-text-hover);
}
.item .include .info span {
  color: var(--text-secondary);
  display: flex;
}
.item .include .info span a {
  font-size: 1.2rem;
  color: var(--text-secondary);
}
.item .include .info span a:hover {
  color: var(--link-text-hover);
  text-decoration: underline;
}
.item .include .info span, .item .include .info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.item:hover {
  background-color: hsla(0deg, 0%, 100%, 0.1);
}
.item:hover .image .play {
  display: flex;
}

.active {
  background-color: hsla(0deg, 0%, 100%, 0.1);
}
.active .include .image .play {
  display: flex;
}
.active .include .info p:hover {
  color: var(--text-primary);
}/*# sourceMappingURL=PlayMv.module.css.map */