.item {
    .media {
        border-radius: 5px;
        cursor: pointer;
        overflow: hidden;
        .media-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid var(--border-secondary);
            .media-ratings {
                display: flex;
                text-align: center;
                margin-right: 15px;
                .number {
                    display: block;
                    font-size: 3.5rem;
                    width: 6rem;
                    font-weight: 700;
                    color: transparent;
                    -webkit-text-stroke: 1.5px var(--text-secondary);
                }
                .number-top100-small {
                    width: 4rem;
                }
                .sort {
                    display: flex;
                    align-items: center;
                    & i {
                        color: var(--text-secondary);
                        font-size: 16px;
                    }
                }
                .no1 {
                    -webkit-text-stroke: 1px #4a90e2;
                }
                .no2 {
                    -webkit-text-stroke: 1px #50e3c2;
                }
                .no3 {
                    -webkit-text-stroke: 1px #e35050;
                }
                .rank {
                    color: var(--text-primary);
                    & i {
                        font-size: 1.2rem;
                    }
                    & h3 {
                        font-size: 1.2rem;
                    }
                    & .red {
                        color: #e35050;
                    }
                    & .green {
                        color: #1dc186;
                    }
                }
            }
            .media-left {
                display: flex;
                align-items: center;
                width: 50%;
                .thumb {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 5px;
                    margin-right: 10px;
                    flex-shrink: 0;
                    overflow: hidden;
                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .song-play,
                    .play {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        text-align: center;
                        align-items: center;
                        color: white;
                        font-size: 20px;
                        line-height: 100%;
                        background-color: var(--dark-alpha-50);
                        justify-content: center;
                    }
                    .play {
                        display: none;
                    }
                    .song-play {
                        & img {
                            width: 2rem;
                            height: 2rem;
                        }
                        display: flex;
                    }
                    .play {
                        & i {
                            font-size: 2rem;
                        }
                    }
                    .pause {
                        display: flex;
                    }
                }

                .info {
                    width: calc(100% - 100px);
                    .title {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: var(--text-primary);
                        margin-right: 10px;
                    }
                    .singer {
                        color: var(--text-secondary);
                        & span {
                            & a {
                                font-size: 1.2rem;
                                align-items: center;
                                color: var(--text-secondary);
                            }
                            &:hover a {
                                color: var(--link-text-hover);
                                text-decoration: underline;
                            }
                        }
                    }

                    .title,
                    .singer {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                }
                .info-top100-small {
                    width: 100%;
                }
                .weight {
                    width: 100%;
                }
            }
            .l-6 {
                width: 90%;
            }
            .media-main {
                flex: 1;
                display: flex;
                align-items: center;
                .title {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: var(--text-secondary);
                    width: 90%;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    &:hover {
                        color: var(--link-text-hover);
                        text-decoration: underline;
                    }
                }
            }
            .media-right {
                display: flex;
                align-items: center;
                .action {
                    display: flex;
                    margin-right: 15px;
                    .icon {
                        display: none;
                        &i {
                            font-size: 1.8rem;
                        }
                    }
                    .active-tym {
                        display: flex;
                    }
                }
                .duration {
                    margin-right: 12px;

                    & span {
                        font-size: 1.2rem;
                        width: 46px;
                        color: var(--text-secondary);
                    }
                }
            }
        }
        .media-top100-small {
            border-bottom: 1px solid transparent;
            padding: 5px;
            .media-left {
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
        &:hover .media-wrapper .media-left .play {
            display: flex;
        }
        &:hover {
            background-color: var(--alpha-bg);
        }
        &:hover .media-wrapper .action .icon {
            display: flex;
        }
        &:hover .media-wrapper .duration {
            display: none;
        }
    }
    .is-active,
    .active {
        background-color: var(--alpha-bg);
    }
    .queue-active {
        background-color: var(--purple-primary);
        &:hover {
            background-color: var(--purple-primary);
        }
    }
}

.song-6 {
    width: 90%;
}
.action-checkbox {
    display: flex;
    width: 25px;
    align-items: center;
    & > i {
        color: var(--text-secondary);
    }

    .checkbox {
        display: none;
        & input {
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid var(--border-box);
            padding: 6px;
            margin-right: 10px;
            border-radius: 4px;
        }
        & input:checked::after {
            content: ' ';
            border-left-color: #fff;
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            border-top-color: #fff;
            height: 47%;
            width: 20%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -63%) rotate(45deg);
        }
        & input:checked {
            border: 1px solid #fff;
        }
    }
}
.active-checkbox {
    background-color: transparent;
    & i {
        display: none;
    }
    .checkbox {
        display: block;
    }
}

.add.item:hover .action-checkbox .checkbox {
    display: block;
}
.add.item:hover .action-checkbox > i {
    display: none;
}

.vip {
    opacity: 0.8;
}
.add.item:hover .not-checkbox > i {
    display: block;
}
.add.item:hover .not-checkbox .checkbox {
    display: none;
}
