.search {
    position: relative;
    display: flex;
    background-color: var(--alpha-bg);
    color: var(--text-placeholder);
    height: 4rem;
    padding: 5px;
    flex: 1;
    border-radius: 5.2rem;
    .icon-action,
    .close,
    .icon-load,
    .icon-search {
        font-size: 2.3rem;
        margin-right: 10px;
        margin-left: 5px;
        width: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .close {
        font-size: 1.6rem;
    }
    .icon-search {
        font-size: 2rem;
    }
    .icon-load {
        width: 30px;
        height: 100%;
    }
    & input {
        flex: 1;
        outline: none;
        background: none;
        border: none;
        color: var(--text-placeholder);
        &::-webkit-input-placeholder {
            color: var(--text-placeholder);
        }
        /* Firefox 19+ */
        &::-moz-placeholder {
            color: var(--text-placeholder);
        }
        /* Firefox 18- */
        &:-moz-placeholder {
            color: var(--text-placeholder);
        }
        /* IE 10+ */
        &:-ms-input-placeholder {
            color: var(--text-placeholder);
        }
    }
}
// ----------------
.menu-search {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
    padding: 13px 10px;
    border-radius: 0 0 20px 20px;
    background-color: var(--primary-bg);
    z-index: 200;
    .show {
        width: 100%;
        max-height: 40rem;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--alpha-bg);
        }
    }
}
// -----------
.Keywords-header {
    & h1 {
        font-size: 1.6rem;
        margin: 5px 0 10px 10px;
        font-weight: 700;
        color: var(--text-primary);
    }
}
.bgrHeader.search {
    border-radius: 20px 20px 0 0;
    background-color: var(--primary-bg);
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.item {
    display: flex;
    line-height: 40px;
    border-radius: 4px;
    padding: 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    &:hover {
        background-color: rgba(225, 225, 225, 0.1);
        color: var(--link-text-hover);
    }
    & span {
        font-size: 14px;
        margin-right: 10px;
        color: var(--text-primary);
        cursor: pointer;
        & i {
            font-size: 1.6rem;
            cursor: pointer;
            color: var(--text-secondary);
        }
    }
}
