.box {
    position: absolute;
    background-color: var(--primary-bg);
    width: 240px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    right: 10px;
    right: 0;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    top: 10px;
}
