body .tippy-box {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    outline: 0;
    font-size: 1.2rem;
}
body .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -6px;
}
