.background {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-size: 1920px auto;
    background-image: url(../.././assets/background/backroundThemes/0.svg);
    z-index: -1;
}
